@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* This file is for your main application CSS */

@layer base {
    :root {
        --font: "DM Sans";

        --color-primary: oklch(0.398 0.195 277.366);
        --color-primary-light: oklch(0.511 0.262 276.966);
        --color-primary-lighter: oklch(0.87 0.065 274.039);

        --color-dark-primary: oklch(0.274 0.006 286.033);
        --color-dark-primary-light: oklch(0.442 0.017 285.786);
        --color-dark-primary-lighter: oklch(0.92 0.004 286.32);

        --color-dark-accent: oklch(0.398 0.195 277.366);
    }
}

/* https://stackoverflow.com/questions/77936984/scrollbar-with-white-background */

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background-color: auto;
}

.dark *::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 4px;
}

/*  */

emoji-picker {
    --border-radius: 8px;
}

.glitch-container-primary {
    @apply flex flex-col border border-primary-lighter rounded-lg dark:border-dark-primary;
}

.glitch-recordings-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-rows-fr justify-items-center gap-4 p-4;
}

.glitch-live-dropping-container {
    @apply uppercase inline text-sm bg-red-600 p-1 px-2 text-xs text-white rounded-md font-medium tracking-[8%];
}

.glitch-dropping-featured-text {
    @apply text-primary font-medium dark:text-neutral-200;
}

.glitch-input-primary {
    @apply rounded-lg border border-primary-lighter text-sm flex-1 disabled:bg-neutral-100 disabled:placeholder-neutral-200 dark:bg-dark-primary dark:disabled:bg-dark-primary dark:placeholder:text-dark-primary-light dark:border-dark-primary dark:text-neutral-400;
}

.glitch-button-primary {
    @apply bg-primary disabled:bg-primary-light disabled:text-primary-lighter text-white px-12 py-2 rounded-lg text-sm font-medium dark:bg-dark-accent dark:text-dark-primary-lighter;
}

.glitch-button-browser-all {
    @apply flex items-center justify-center gap-2 border border-primary-lighter rounded-lg w-full h-[44px] text-primary text-sm font-medium hover:bg-primary-lighter dark:border-dark-primary-light dark:text-dark-primary-light dark:hover:bg-stone-800;
}

.glitch-swm-video-watermark {
    @apply absolute top-6 right-6 pointer-events-none;
}

/* Markdown styling start */
.glitch-markdown ul,
.glitch-markdown ol {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.glitch-markdown a,
#stream-viewer-title a {
    @apply underline;
}

.glitch-markdown blockquote {
    @apply border-l-4 border-dark-primary-lighter pl-2 dark:border-dark-primary;
}

/* not sure about that dark background color in code blocks */
.glitch-markdown code,
#stream-viewer-title code {
    @apply border-[1px] rounded-md px-[2px] bg-zinc-50 border-dark-primary-lighter dark:border-dark-primary-light dark:bg-dark-primary;
}

.glitch-markdown pre,
#stream-viewer-title code {
    @apply border-[1px] rounded-md px-[2px] bg-zinc-50 border-dark-primary-lighter dark:border-dark-primary-light dark:bg-dark-primary;
}

.glitch-markdown pre code {
    @apply border-0 bg-transparent w-full break-all;
}

.glitch-markdown h1 {
    @apply text-2xl font-bold;
}

.glitch-markdown h2 {
    @apply text-xl font-bold;
}

.glitch-markdown h3 {
    @apply text-lg font-bold;
}

.glitch-markdown p {
    @apply mb-0 mt-0;
}

.glitch-markdown p+p {
    @apply mt-3;
}

/* Markdown styling end */